In [1]:
import pandas as pd

In [24]:
df = pd.read_csv("./Track_1.csv")

In [25]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [26]:
df = df.drop(['1=defaulted','Other loans plans taken'],axis=1)

In [27]:
#Renameing Coloumn Name For Convinence
df.rename(columns = {'Number of people who will provide maintenance':'NPPM','Purpose of taking loan': 'Objective',
                     'loan amount taken': 'Amount','Guarantor or Debtor': 'Guarantor','Loan History':'LoanStatus',
                     'Number of years of employment': 'Experience','Marital Status' : 'M_Status','Number of loans taken from current bank': 'ExistingLoan',
                     'Age of the applicant in Number of Years': 'Age','amount in current account': 'CA_Balance',
                     'amount in savings account': 'SA_Balance','% of income paid as installment': 'PI_Payment',
                     'Working abroad or not': 'WorkAB', 'Is there telephone number available': 'PhN',
                     'time duration for loan': 'Tenure', 'Owned property': 'prop', 'Type of job performed': 'JobTyp',
                     'Type of Housing':'HouseT','Number of years of stay in current address': 'NOE','Loan Defaulted or not': 'prediction'}, inplace = True)

In [20]:
df = df.dropna()

In [40]:
df['Experience'] = df['Experience'].fillna('')

In [41]:
df.Objective = df.Objective.replace({"New Car Purchase": 0, "Purchase of radio/television" : 1,'Purchase of furniture/equipment' : 2,'Old Car Repair': 3,'Education Loan': 4,
                                    'Loan for business establishment': 5,'Other repairs': 6,'Purchase of domestic appliances': 7,'Loan for retraining': 8,'': 9})

df.Guarantor = df.Guarantor.replace({'none' : 0,'gaurantor' : 1,'co-applicant':  2,'': 3})

df.LoanStatus = df.LoanStatus.replace({'critical account/other loans existing (not at this bank)' : 0,'existing loans paid back duly till now' : 1,'all loans at this bank paid back duly':  2,'delay in paying off loans in the past' : 3,
                                       'no loans taken/all loans paid back duly': 4,'': 5,})

df.Experience = df.Experience.replace({'between 1 and 4 years': 0, 'greater than 4 years': 1,'less than a year': 2,'unemployed': 3,'':4})

df.M_Status = df.M_Status.replace({'female and divorced/seperated/married': 0,'male and single': 1,'male and married/widowed': 2,
                                  'male and divorced/seperated': 3,'':4})

df.CA_Balance = df.CA_Balance.replace({'no current account': 0,'less than 0': 1,'between 0 and 200': 3,'greater than 200': 4,'':5})

df.SA_Balance = df.SA_Balance.replace({'less than 100': 0,'no savings account': 1,'between 500 and 1000': 2,
                                      'between 100 and 500': 3,'greater than 1000': 4,'':5})

df.WorkAB = df.WorkAB.replace({'Yes': 1,'No': 0,'':2})

df.PhN = df.PhN.replace({'Yes': 1,'No': 0,'':2})

df.prop = df.prop.replace({'Real Estate': 0,'car or other property': 1,'No property': 2,'building society savings agreement/life insurance': 3,'':4})

df.JobTyp = df.JobTyp.replace({'skilled employee / official': 0,'unskilled - resident': 1,'unemployed/ unskilled - non-resident': 2,'management/ self-employed/highly qualified employee/ officer': 3,'':4})

df.HouseT = df.HouseT.replace({'own': 0,'for free': 1,'rent': 3,'':4})

df.prediction = df.prediction.replace({2 : 0})

In [43]:
df.isna().sum()

NPPM            0
LoanStatus      0
Objective       9
Amount          0
Guarantor       0
Experience      0
M_Status        0
ExistingLoan    0
Age             0
CA_Balance      0
SA_Balance      0
PI_Payment      0
WorkAB          0
PhN             0
Tenure          0
prop            0
JobTyp          0
HouseT          0
NOE             0
prediction      0
dtype: int64

In [62]:
df = df.dropna()

In [63]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [64]:
X = df.drop(['prediction'],axis=1)
Y = df['prediction']

(600, 20)

(591, 20)

In [65]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [66]:
print("Size of X Train:- " + str(X_train.shape))
print("Size of Y Train:- " + str(y_train.shape))
print("Size of X Test:- " + str(X_test.shape))
print("Size of Y Test:- " + str(y_test.shape))

Size of X Train:- (472, 19)
Size of Y Train:- (472,)
Size of X Test:- (119, 19)
Size of Y Test:- (119,)

In [67]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

In [96]:
reg_rf = RandomForestClassifier(max_depth=180,min_samples_split= 5,n_estimators= 152)

reg_rf.fit(X_train, y_train)

RandomForestClassifier(max_depth=180, min_samples_split=5, n_estimators=152)

In [97]:
y_pred = reg_rf.predict(X_test)
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.71      0.38      0.49        32
           1       0.80      0.94      0.87        87

    accuracy                           0.79       119
   macro avg       0.75      0.66      0.68       119
weighted avg       0.78      0.79      0.77       119

In [130]:
df1 = pd.read_csv("./testing_data.csv")

In [126]:
#Renameing Coloumn Name For Convinence
df1.rename(columns = {'Number of people who will provide maintenance':'NPPM','Purpose of taking loan': 'Objective',
                     'loan amount taken': 'Amount','Guarantor or Debtor': 'Guarantee','Loan History':'LoanStatus',
                     'Number of years of employment': 'Experience','Marital Status' : 'M_Status','Number of loans taken from current bank': 'ExistingLoan',
                     'Age of the applicant in Number of Years': 'Age','amount in current account': 'CA_Balance',
                     'amount in savings account': 'SA_Balance','% of income paid as installment': 'PI_Payment',
                     'Working abroad or not': 'WorkAB', 'Is there telephone number available': 'PhNum',
                     'time duration for loan': 'Tenure', 'Owned property': 'prop', 'Type of job performed': 'JobTyp',
                     'Type of Housing':'HouseT','Number of years of stay in current address': 'NOE','Loan Defaulted or not': 'prediction'}, inplace = True)

In [127]:
df1 = Preprocessing(df1)

In [128]:
def Preprocessing(df2):
    df2.Objective = df2.Objective.replace({"New Car Purchase": 0, "Purchase of radio/television" : 1,'Purchase of furniture/equipment' : 2,'Old Car Repair': 3,'Education Loan': 4,
                                    'Loan for business establishment': 5,'Other repairs': 6,'Purchase of domestic appliances': 7,'Loan for retraining': 8})
    df2.Guarantee = df2.Guarantee.replace({'none' : 0,'gaurantor' : 1,'co-applicant':  2})
    df2.LoanStatus = df2.LoanStatus.replace({'critical account/other loans existing (not at this bank)' : 0,'existing loans paid back duly till now' : 1,'all loans at this bank paid back duly':  2,'delay in paying off loans in the past' : 3,
                                        'no loans taken/all loans paid back duly': 4})
    df2.Experience = df2.Experience.replace({'between 1 and 4 years': 0, 'greater than 4 years': 1,'less than a year': 2,'unemployed': 3,"": 4})
    df2.M_Status = df2.M_Status.replace({'female and divorced/seperated/married': 0,'male and single': 1,'male and married/widowed': 2,
                                    'male and divorced/seperated': 3})
    df2.CA_Balance = df2.CA_Balance.replace({'no current account': 0,'less than 0': 1,'between 0 and 200': 3,'greater than 200': 4})
    df2.SA_Balance = df2.SA_Balance.replace({'less than 100': 0,'no savings account': 1,'between 500 and 1000': 2,
                                        'between 100 and 500': 3,'greater than 1000': 4})
    df2.WorkAB = df2.WorkAB.replace({'Yes': 1,'No': 0})
    df2.PhNum = df2.PhNum.replace({'Yes': 1,'No': 0})
    df2.prop = df2.prop.replace({'Real Estate': 0,'car or other property': 1,'No property': 2,'building society savings agreement/life insurance': 3})
    df2.JobTyp = df2.JobTyp.replace({'skilled employee / official': 0,'unskilled - resident': 1,'unemployed/ unskilled - non-resident': 2,'management/ self-employed/highly qualified employee/ officer': 3})
    df2.HouseT = df2.HouseT.replace({'own': 0,'for free': 1,'rent': 3})
    return df2

In [132]:
df1.drpo

,Unnamed: 0,Number of people who will provide maintenance,Loan History,Purpose of taking loan,loan amount taken,Guarantor or Debtor,Number of years of employment,Marital Status,Number of loans taken from current bank,Age of the applicant in Number of Years,...,% of income paid as installment,Other loans plans taken,Working abroad or not,Is there telephone number available,time duration for loan,Owned property,Type of job performed,Type of Housing,Number of years of stay in current address,Loan Defaulted or not
0,600,1,existing loans paid back duly till now,Purchase of radio/television,1278,none,NaN,male and single,1,36,...,4,none,Yes,Yes,24,Real Estate,management/ self-employed/highly qualified emp...,own,1,NaN
1,601,1,critical account/other loans existing (not at ...,Old Car Repair,11590,none,between 1 and 4 years,female and divorced/seperated/married,2,24,...,2,bank,Yes,No,48,car or other property,unskilled - resident,rent,4,NaN
2,602,1,existing loans paid back duly till now,Purchase of radio/television,1366,none,less than a year,female and divorced/seperated/married,1,22,...,3,none,Yes,No,9,building society savings agreement/life insurance,skilled employee / official,rent,4,NaN
3,603,1,critical account/other loans existing (not at ...,Purchase of furniture/equipment,14179,none,greater than 4 years,male and single,2,30,...,4,none,Yes,Yes,39,building society savings agreement/life insurance,management/ self-employed/highly qualified emp...,own,4,NaN
4,604,1,existing loans paid back duly till now,Old Car Repair,1236,none,between 1 and 4 years,male and single,1,50,...,2,none,Yes,No,6,building society savings agreement/life insurance,skilled employee / official,rent,4,NaN